.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #ffd166;
  width: max-content;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
}

.auth-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  border-radius: 5px;
  background-color: #06d6a0;
  border: 0px solid;
}

.sly-button {
  border: 0px solid;
  background-color: transparent;
}

.input {
  min-width: 10em;
  /* height: 3em; */
  max-width: 12em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 0px solid;
  font-size: 1.6rem;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.5);
  /* margin: 1em;
  color: black;
  opacity: 0.3;
  text-decoration: black;
   */
}

.input:hover {
  /* background-color: #118ab2; */
}

.input:focus {
  background-color: rgba(255, 255, 255, 0.349);
}
